### Seatwork 7.1 Programming Exercise: Data Wrangling with Pandas - Part 1

Using the meteorite data from the Meteorite_Landings.csv file, update the year column to only contain the year, convert it to a numeric data type, and create a new column indicating whether the meteorite was observed falling before 1970. Set the index to the id column and extract all the rows with IDs between 10,036 and 10,040 (inclusive) with loc <br><br>

- Hint 1: Use year.str.slice() to grab a substring. <br>
- Hint 2: Make sure to sort the index before using loc[] to select the range. <br>

Bonus: There's a data entry error in the year column. Can you find it? (Don't spend too much time on this )

In [ ]:
import pandas as pd

filePath = 'C:\\Users\\Enzo\\Downloads\\Browser Downloads\Meteorite_Landings.csv'

df = pd.read_csv(filePath)

# Update the year column to only contain the year (numeric); the year is at index 6-10
df['year'] = df['year'].astype(str).str.slice(6, 10)
df['year'] = pd.to_numeric(df['year'], errors='coerce')

# Created me a new column indicating if the meteorite was observed falling before 1970
# Fell indicates it was observed falling
# Found indicates it was discovered later.
df['observed_fell_before_1970'] = (df['fall'] == 'Fell') & (df['year'] < 1970)

# Set index to the id column
df.set_index('id', inplace=True)
df.sort_index(inplace=True)

# extract rows 
extracted_rows = df.loc[10036:10040]

extracted_rows

,name,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation,observed_fell_before_1970
id,,,,,,,,,,
10036,Enigma,Valid,H4,94.0,Found,1967.0,31.33333,-82.31667,"(31.33333, -82.31667)",False
10037,Enon,Valid,"Iron, ungrouped",763.0,Found,1883.0,39.86667,-83.95000,"(39.86667, -83.95)",False
10038,Enshi,Valid,H5,8000.0,Fell,1974.0,30.30000,109.50000,"(30.3, 109.5)",False
10039,Ensisheim,Valid,LL6,127000.0,Fell,1491.0,47.86667,7.35000,"(47.86667, 7.35)",True