### Hands-on Activity 6.1 Introduction to Data Analysis and Tools

CPE 311 Computational Thinking with Python <br><br>
Name: Bermudez, Lorenzo <br>
Section: CPE22S3 <br>

Performced on: 02/12/2026 <br>
Submitted on: 02/12/2026 <br>
Submitted to: Engr. Neal Barton James Matira<br>

### 6.1 Intended Learning Outcomes

1. Use pandas and numpy data analysis tools.
2. Demonstrate how to analyze data using numpy and pandas.

### 6.2 Resources:

- Personal Computer
- Jupyter Notebook
- Internet Connection

### 6.3 Supplementary Activities

#### Exercise 1

Run the given code below for exercise 1 and 2, perform the given tasks without using any Python modules.

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*100000, -3) for _ in range (100)]

Using the data generated above, calculate the following statistics without importing anything from the statistics module in standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are obtained when using the statistics module (where possible).

- Mean
- Median
- Mode (hint: check out the Counter in the collections module of the standard library at
https://docs.python.org/3/library/collections.html#collections.Counter)
- Sample variance
- Sample standard deviation

In [2]:
# Mean
mean = sum(salaries) / len(salaries)
print(mean)

58560.0

In [3]:
# Median
median = sorted(salaries)[len(salaries) // 2]
print(median)

59000.0

In [4]:
# Mode
map_values = {}
for salary in salaries:
    if salary not in map_values:
        map_values[salary] = 1
        continue
    map_values[salary] += map_values[salary] + 1

print(map_values)

{84000.0: 3, 76000.0: 7, 42000.0: 1, 26000.0: 3, 51000.0: 3, 40000.0: 3, 78000.0: 1, 30000.0: 1, 48000.0: 7, 58000.0: 7, 91000.0: 7, 50000.0: 1, 28000.0: 3, 62000.0: 1, 25000.0: 1, 98000.0: 1, 81000.0: 15, 90000.0: 15, 31000.0: 1, 73000.0: 1, 68000.0: 1, 47000.0: 1, 10000.0: 1, 43000.0: 1, 61000.0: 7, 97000.0: 3, 87000.0: 7, 55000.0: 7, 1000.0: 1, 72000.0: 1, 82000.0: 1, 67000.0: 1, 0.0: 1, 49000.0: 3, 24000.0: 3, 33000.0: 1, 19000.0: 7, 57000.0: 1, 80000.0: 1, 45000.0: 3, 8000.0: 3, 32000.0: 1, 93000.0: 1, 11000.0: 1, 71000.0: 3, 54000.0: 3, 96000.0: 1, 60000.0: 3, 59000.0: 3, 44000.0: 1, 38000.0: 1, 29000.0: 1, 66000.0: 3, 9000.0: 1, 88000.0: 1, 92000.0: 7, 39000.0: 1, 85000.0: 1, 95000.0: 1, 100000.0: 1, 79000.0: 1}

In [5]:
# Sample Variance
average = sum(salaries)/len(salaries)
len_minus_one = len(salaries) - 1

x_xmean_squared = []
for salary in salaries:
  temp = (salary - average)**2
  x_xmean_squared.append(temp)

summation = sum(x_xmean_squared)
variance = summation/len_minus_one

print(variance)

707885252.5252526

In [6]:
# Sample standard deviation
std_dev = variance ** 0.5
print(std_dev)

26606.113066835835

#### Exercise 2

Using the same data, calculate the follownig statistics using the functions in the statistics module where appropriate

- Range
- Coefficient of variation of intequartile range
- Quartile coefficient of dispersion

In [7]:
# Range
range = max(salaries) - min(salaries)
print(range)

100000.0

In [8]:
# Coefficient of variation of intequartile range
cv = std_dev / mean
print(cv)

0.45433936248012013

In [9]:
# Quartile coefficient of dispersion
q1 = sorted(salaries)[len(salaries) // 4]
q3 = sorted(salaries)[3 * len(salaries) // 4]
qd = q3 - q1
print(qd)

42000.0

#### Exercise 3: Pandas for Data Analysis

Load the diabetes.csv file. Convert the diabetes.csv into dataframe.

In [10]:
import pandas as pd
import numpy as np

# Load the diabetes.csv file and convert it into a dataframe
df = pd.read_csv('C:\\Users\\Enzo\\Downloads\\Browser Downloads\\diabetes.csv')

Perform the following tasks in the diabetes dataframe:

1. Identify the column names. <br>

In [11]:
print("1. Column Names:")
print(df.columns.tolist())

1. Column Names:
['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

2. Identify the data types of the data <br>

In [12]:
print("\n2. Data Types:")
print(df.dtypes)

2. Data Types:
Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

3. Display the total number of records. <br>

In [13]:
print(f"\n3. Total number of records: {len(df)}")

3. Total number of records: 768

4. Display the first 20 records.<br>

In [14]:
print("\n4. First 20 records:")
display(df.head(20))

4. First 20 records:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

5. Display the last 20 records.<br>

In [15]:
print("\n5. Last 20 records:")
display(df.tail(20))

5. Last 20 records:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

6. Change the Outcome column to Diagnosis<br>

In [16]:
df.rename(columns={'Outcome': 'Diagnosis'}, inplace=True)
print("\n6. Renamed 'Outcome' to 'Diagnosis'.")

6. Renamed 'Outcome' to 'Diagnosis'.

7. Create a new column Classification that display "Diabetes" if the value of outcome is 1, otherwise "No Diabetes".<br>

In [17]:
# Displays "Diabetes" if the value of Diagnosis is 1, otherwise "No Diabetes"
df['Classification'] = df['Diagnosis'].apply(lambda x: 'Diabetes' if x == 1 else 'No Diabetes')
print("7. Created 'Classification' column.")

7. Created 'Classification' column.

8. Create a new dataframe with "withDiabetes" that gathers data with diabetes. <br>

In [18]:
withDiabetes = df[df['Diagnosis'] == 1].copy()
print(f"8. 'withDiabetes' dataframe created with {len(withDiabetes)} records.")

8. 'withDiabetes' dataframe created with 268 records.

9. Create a new dataframe "noDiabetes" that gathers data with no diabetes.<br>

In [19]:
noDiabetes = df[df['Diagnosis'] == 0].copy()
print(f"9. 'noDiabetes' dataframe created with {len(noDiabetes)} records.")

9. 'noDiabetes' dataframe created with 500 records.

10. Create a new datagrame "Pedia" that gathers data with age 0 to 19.<br>

In [20]:
Pedia = df[(df['Age'] >= 0) & (df['Age'] <= 19)].copy()
print(f"10. 'Pedia' (Age 0-19) dataframe created with {len(Pedia)} records.")

10. 'Pedia' (Age 0-19) dataframe created with 0 records.

11. Create a new dataframe "Adult" that gathers data with age greater than 19. <br>

In [21]:
Adult = df[df['Age'] > 19].copy()
print(f"11. 'Adult' (Age > 19) dataframe created with {len(Adult)} records.")

11. 'Adult' (Age > 19) dataframe created with 768 records.

12. Use numpy to get the average age and glucose value.<br>

In [22]:
avg_age = np.mean(df['Age'])
avg_glucose = np.mean(df['Glucose'])
print(f"\n12. Average Age: {avg_age:.2f}")
print(f"    Average Glucose: {avg_glucose:.2f}")

12. Average Age: 33.24
    Average Glucose: 120.89

13. Use numpy to get the median age and glucose value.<br>

In [23]:
med_age = np.median(df['Age'])
med_glucose = np.median(df['Glucose'])
print(f"\n13. Median Age: {med_age}")
print(f"    Median Glucose: {med_glucose}")

13. Median Age: 29.0
    Median Glucose: 117.0

14. Use numpy to get the middle values of glucose and age.<br>

In [24]:
# (Median is defined as the middle value in a distribution)
mid_age = np.median(df['Age'])
mid_glucose = np.median(df['Glucose'])
print(f"\n14. Middle Value (Median) Age: {mid_age}")
print(f"    Middle Value (Median) Glucose: {mid_glucose}")

14. Middle Value (Median) Age: 29.0
    Middle Value (Median) Glucose: 117.0

15. Use numpy to get the standard deviation of the skin thickness. <br>

In [25]:
std_skin = np.std(df['SkinThickness'])
print(f"\n15. Standard Deviation of Skin Thickness: {std_skin:.2f}")

15. Standard Deviation of Skin Thickness: 15.94

### 6.4 Conclusion

In this activity, I learned how to handle data by both writing my own math logic and using helpful Python tools. By calculating things like mean, median, and standard deviation by hand first, I really understood how the math works behind the scenes. Then, using Pandas and NumPy showed me how much faster it is to organize big files, rename columns, and filter people into groups like "Pedia" or "Adult" based on their age. I also practiced making new columns to label data, which is a big part of cleaning up information for a project. Overall, I now feel much more comfortable using Python to turn a messy spreadsheet into clear, useful results.